#footer {
    background: linear-gradient(to right, skyblue,rgb(67, 67, 101));
    margin: 60px 0px;
    
}
.whole{
    height:300px;

}

.logo-end {
    margin-left: 50px;
}
.logo-end img{
    height: 40px;
    width: 40px;
    margin-left: -25px;
}

.le {
    width: 150px;
    margin-top: 70px;
}

.whole {
    display: flex;
    flex: 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    width: 50%;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: -20px;
}

.left p {
    color: black;
}

.p1 {
    font-size: 16px;
    /* margin-left: 8px; */
}

.p2 {
    font-size: 16px;
    margin-top: -20px;
}

.af {
    color: black;
    text-decoration: underline;
}

.af:hover {
    color: black;
}

.right1 {
    margin-top: -60px;
}

.right1 p {
    color: black;
    font-size: 16px;
    margin-bottom: -10px;
}

.right1 input[type="email"] {
    width: 300px;
    height: 30px;
    border-radius: 250px;
    border-color: black;
    border-style: solid;
    font-size: 16px;
    padding: 14px;
    margin-left: 20px;
    background-color: rgb(184, 173, 173);
    color: black;
}

.right1 .button1 {
    background-color: #000000;
    color: white;
    font-size: 18px;
    border-radius: 100px;
    width: 100px;
    height: 30px;
    /* border: solid 0px #178F7A; */
    margin-left: -100px;
}

.right1 i {
    font-size: 26px;
    margin-left: 38px;
    color: black;
    margin-right: -26px;
    cursor: pointer;
}

.pp{
    margin-top: 100px;
}