/* Mixins */
@media (max-width: 738px) {
  .card .imageContainer {
    display: none;
  }
}

@media (max-width: 1024px) {
  .card .imageContainer {
    display: none;
  }
}

@media (max-width: 1366px) {
  .card .imageContainer {
    display: none;
  }
}

/* Generated CSS */
.card {
  display: flex;
  gap: 20px;
}

.card .imageContainer {
  flex: 2;
  height: 200px;
}

.card .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card .textContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.card .textContainer img {
  width: 16px;
  height: 16px;
}

.card .textContainer .title {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  transition: all 0.4s ease;
}

.card .textContainer .title:hover {
  color: #000;
  scale: 1.01;
}

.card .textContainer .address {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -50px;
  margin-left: -20px;
  color: #888;
}

.card .textContainer .price {
  font-size: 22px;
  font-weight: 300;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(48, 78, 126,0.8);
  width: max-content;
  margin-top: -30px;
}

.card .textContainer .bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card .textContainer .bottom .features {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.card .textContainer .bottom .features .feature {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
}

.card .textContainer .bottom .icons {
  display: flex;
  gap: 20px;
}

.card .textContainer .bottom .icons .icon {
  border: 1px solid #999;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .textContainer .bottom .icons .icon:hover {
  background-color: lightgray;
}